* {
  padding: 0;
  margin: 0;
}

body {
  font-family: cursive;
  background-color: #DBCCCB;
}

.container {
  width: 1200px;
  margin: 20px auto;
  display: flex;
}

.done {
  text-decoration: line-through;
}

.groceries {
  width: 600px;
  height: calc(100vh - 40px);
  overflow: scroll;
  padding-top: 20px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.50);
}

.title {
  font-size: 1.25rem;
  text-align: center;
}

.input-wrapper {
  width: 75%;
  display: flex;
  justify-content: center;
}

.input-wrapper i {
  font-size: 2rem;
  color: #26201f;
}

.input-wrapper input {
  font-family: inherit;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 3px solid black;
}

.items {
  font-size: 1.5rem;
  width: 75%;
}